:root {
  --primary-color: #2e2e2e;
  --secondary-color: #383838;
  --secondary-color-shadow: #272727;
  --dark-color: #e2e2e2;
  --highlight: #f6a01d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

#editor—wrapper {
  border: 1px solid #ccc;
}

#toolbar-container {
  border-bottom: 1px solid #ccc;
}

#editor-container {
  height: 500px;
}