html {
  height: 100%;
  width: 100%;
}

body {
  background: var(--secondary-color);
}

.SP_Data_Logo {
  margin: 15px 15px;
  width: 150px;
}

.btn {
  background: inherit;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 3px;
  border: none;
  position: absolute;
  top: 15px;
  right: 15px;
}

.center {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: clamp(250px, 450px, 450px);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: var(--primary-color);
}

.center h1 {
  text-align: center;
  padding: 20px;
  font-size: 26px;
  color: var(--white-color);
  border-bottom: 1px solid var(--white-color);
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid var(--white-color);
  margin: 30px 0;
}

.txt_field input {
  width: 95%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  color: var(--white-color);
  border: none;
  background: none;
  outline: none;
}

.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: var(--white-color);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

#btn-password-visible {
  position: absolute;
  right: 5px;
}

.txt_field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--white-color);
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
  top: -5px;
  font-size: 12px;
  color: var(--white-color);
}

.PopUp {
  background: var(--white-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  text-align: center;
  margin: 0%;
  scale: 0.1;
  visibility: hidden;
  transition: ease 0.1s;
  -webkit-transition: ease 0.1s;
  -moz-transition: ease 0.1s;
  -ms-transition: ease 0.1s;
  -o-transition: ease 0.1s;
  font-size: 14px;
  color: var(--primary-color);

}

.popupVisible {
  visibility: visible;
  margin: 3%;
  scale: 1;
}

.pass {
  margin: -5px 0 20px 5px;
  color: var(--white-color);
  cursor: pointer;
}

.pass:hover {
  text-decoration: underline;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 2px solid;
  background: var(--highlight);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  margin-bottom: 25px;

}

input[type="submit"]:hover {
  border-color: var(--primary-color);
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

#copyright {
  bottom: 10px;
  right: 15px;
  position: absolute;
  font-size: 12px;
  color: var(--white-color);
}