:root {
  --navbar-width: 280px;
}
.navBar {
  display: block;
  position: absolute;
  height: 100%;
  width: var(--navbar-width);
  background: var(--secondary-color);
}
.navBar img {
  display: block;
  text-align: center;
  margin: 15px;
  margin-bottom: 20px;
}
.navBar-items-container {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0px;
}
#btn-dashboard,
#btn-ticketCreate,
#btn-tickets {
  background: transparent;
  height: 50px;
}
#ErreichbarkeitAdmin {
  font-size: 14px;
}
.user-container {
  position: absolute;
  bottom: 5px;
  margin: 15px;
  padding-right: 30px;
  padding-left: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: var(--navbar-width);
}
.navBar-buttons-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.content-container {
  display: block;
  position: absolute;
  width: calc(100% - var(--navbar-width));
  margin-left: var(--navbar-width);
  height: 100%;
  padding: 15px;
}